:host {
  display: flex;
  height: 100%;
}

.side-menu {
  flex: 0 0 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 2px solid #666666;
  box-sizing: border-box;
  height: 100%;
}

.main {
  flex: 1 1;
  height: 100%;
  overflow: auto;
}

.hidden {
  display: none;
}

.input-angle-control, .output-angle-control {
  position: relative;

  .angle-canvas {
    opacity: 0.5;

  }

  .color-point-canvas {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
  }
}
