<input #fileInput type="file" (change)="onFileChanged()">
<br/>
<div class="input-angle-control">
  <canvas class="angle-canvas" #angleCanvas width="200" height="200"></canvas>
  <canvas class="color-point-canvas" #colorPointCanvas width="200" height="200"></canvas>
</div>
<div class="output-angle-control">
  <canvas class="angle-canvas" #outputAngleCanvas width="200" height="200"></canvas>
  <canvas class="color-point-canvas" #outputColorPointCanvas width="200" height="200"></canvas>
</div>
<br/>
<canvas #canvas></canvas>
